<!-- Scripts -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

<!-- Leaflet -->
<script src="https://gis.ccpa.net/assets/leaflet/foundation/v-1.6.0/leaflet.js"></script>

<!-- Non Esri Leaflet Bundled Plugins -->
<!-- Zoom Home; Full Screen; Locate -->
<script src="https://gis.ccpa.net/assets/leaflet/bundled/js/leaflet-plugins.min.js"></script>

<!-- Proj4JS -->
<script src="https://gis.ccpa.net/Assets/leaflet/plugins/proj4js/v-2.7.2/proj4.js"></script>

<!-- Proj4Leaflet -->
 <script src="https://gis.ccpa.net/Assets/leaflet/plugins/proj4Leaflet/v-1.0.1/proj4leaflet.js"></script>

<!-- Esri Leaflet Bundled Plugins -->
<!-- Esri Leaflet; Esri Renderers; Esri Geocoder -->
<script src="https://gis.ccpa.net/assets/leaflet/bundled/js/esri-leaflet-plugins.min.js"></script>

<!-- Map Application -->
<script src="assets/js/app.min.js"></script>

<!-- No Script-->
<noscript>
    <div>
        <p>You are trying to view an interactive map of reviewed subdivision and land development plans in Cumberland County, Pennsylvania.</p>
        <p>This map requires JavaScript, but running JavaScript is not currently enabled by your web browser.</p>
        <p>If you wish to view this map, please enable JavaScript in this browser or try a different browser.</p>
    </div>
</noscript>

</body>
</html>