<body>
    <header class="fixed-top navbar">
      <!-- title, subtitle, org image -->
      <div class="justify-content-start">
        <a class="navbar-brand" href="https://www.ccpa.net/" target="_blank" rel="noopener">
          <img height="35" width="35" class="img-fluid d-none d-sm-inline-block" src="//gis.ccpa.net/gis_images/CCPALogo_61x61px.gif" alt="cumberland county logo" />
        </a>
        <h1 class="navbar-brand white">Plan Submissions Review Map</h1>
        <span class="white d-none d-md-inline"> Cumberland County, PA</span>
      </div>
      <!-- Desktop Search (in modal for mobile) -->
      <div class="d-sm-none d-md-none d-lg-block justify-content-center">
        <form>
          <div id="geocode"></div>
        </form>
      </div>
      <!-- Navigation -->
      <nav class="nav justify-content-end">
        <!-- navigation menu -->
          <button class="nav-link dropdown-toggle white font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
          <ul class="dropdown dropdown-menu">
              <li><button id="about-btn" class="btn dropdown-item">About the Map</button></li>
              <li><button id="search-btn" class="btn dropdown-item d-sm-block d-md-block d-lg-none">Search</button></li>
              <li><button id="std-filter-btn" class="btn dropdown-item">Filter Plans By Date</button></li>
              <li><button id="year-filter-btn" class="btn dropdown-item">Filter Plans By Year</button></li>
              <li><button id="multi-year-filter-btn" class="btn dropdown-item">Filter Plans By Multiple Years</button></li>
              <li><button id="muni-zoom-btn" class="btn dropdown-item">Zoom To Municipality</button></li>
              <li><button id="legend-btn" class="btn dropdown-item">Map Legend</button></li>
              <li><button id="disclaimer-btn" class="btn dropdown-item">Disclaimer</button></li>
          </ul>
      </nav>
    </header>