/*** General Settings ***/
/* General */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  html,
  body,
  #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  /* due to fixed header */
  body {
    padding-top: 64px;
  }

  .table {
    margin-bottom: 0px;
  }

  ul {
    list-style-type: none;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0;
  }

  .text-small {
    font-size: 0.8em;
  }

  /* Colors */
  body,
  .leaflet-container a.leaflet-popup-close-button {
    color: #333;
  }

  .white {
    color: #fff;
  }

  /* blue theme color */
  header,
  div.modal button.btn,
  #panelResults button.btn {
    background-color: #196fa6;
  }

  div.modal button.btn:hover,
  #panelResults button.btn:hover {
    background-color: #000;
  }

  button.close span {
    transition: color 0.125s ease-in-out;
  }

  button.close span:hover {
    color: #888;
  }

.filter-ui {
    position: absolute;
    left: 10px;
    bottom: 25px;
    z-index: 650;
    padding: 8px;
    background: #fff;
    border: 1px solid #000;
    font-size: 1.05em;
}

#startDateUI,
#endDateUI {
    font-weight: bold;
}

noscript div {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3000;
    height: 100%;
    width: 100%;
    padding: 4em;
    background-color: #FFFFFF;
    font-size: 1.25em;
}

noscript p:last-child {
    font-weight: bold;
}