/* Map */
#map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* map controls */
.leaflet-control-zoomhome.leaflet-bar > a,
.leaflet-control-locate.leaflet-bar > a {
  width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 0;
}

.leaflet-control-zoomhome,
.leaflet-control-zoomhome-out {
    font-size: 1.75em;
}

.leaflet-bar a,
div.modal button.btn,
#panelResults button.btn {
  transition: background-color 0.125s ease-in-out;
}

.leaflet-bar a:hover,
nav button.dropdown-item:hover {
  background-color: #ddd;
}

/* popup for tax parcels */
.feat-popup {
  font-size: 1.2em;
}

/* Geocoder control */
#geocode input,
#geocodeMobile input {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 0;
  border: 1px solid #000;
  box-shadow: none;
}

.geocoder-control-suggestions {
  width: auto;
}