/* Modals */
div.modal button.close,
#panelResults button.close {
  opacity: 1;
}

div.modal button.btn {
  border-color: #000;
}

#searchModal .modal-body {
  min-height: 250px;
}

#filterModal .modal-body,
#filterMultiYearModal .modal-body {
    min-height: 375px;
}

/* error message modal */
#layerErrorModal,
#dateErrorModal {
   display: none;
   z-index: 2000;
}

.modal-content {
    max-width: 100%;
    word-wrap: break-word;
}