<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Plan Submissions Review Map</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="The Plan Submission Review Map is a useful tool for municipal and county officials, as well as residents and other stakeholders to monitor subdivision and land development activity throughout Cumberland County, Pennsylvania.">
    <meta name="author" content="Cumberland County GIS">
    <link rel="icon" href="https://gis.ccpa.net/gis_images/favicon.ico">
    <link type="image/ico" rel="shortcut icon" href="https://gis.ccpa.net/gis_images/favicon.ico">

    <!-- Facebook sharing -->
    <meta property="og:type" content="article" />
	<meta property="og:title" content="Plan Submissions Review Map" />
	<meta property="og:image" content="assets/img/plan-reviewed-by-staff.jpg" />
	<meta property="og:description" content="An interactive web map that is a useful tool for municipal and county officials as well as residents and other stakeholders to monitor subdivision and land development activity throughout Cumberland County." />

    <!-- Stylesheets -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://gis.ccpa.net/assets/font-awesome/fa-4.7.0/css/font-awesome.min.css" />
    <!-- Leaflet -->
    <link rel="stylesheet" type="text/css" href="https://gis.ccpa.net/assets/leaflet/foundation/v-1.6.0/leaflet.css" />
    <!-- bundled stylesheets for plugins-->
    <link rel="stylesheet" href="https://gis.ccpa.net/assets/leaflet/bundled/css/leaflet-plugins.min.css" />
    <!-- App Custom Styles -->
    <link rel="stylesheet" href="assets/css/style.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1529470-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-1529470-4');
    </script>

  </head>